.info_room .box{
    width: 50%;
    height: 1300px;
    margin-left: 470px;
    margin-top: 100px;
    background-color: white;
}

.head_room{
    padding-top: 20px;
    padding-left: 45px;
    float: left;
    width: 900px;
    
}


#tab{
    width: 300px;
    
}

button{
    padding-top: 0px;
    height: 55px;
    width: 150px;
    background: rgb(53, 52, 52);
    color: white;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 17px;
}

#back{
    width: 35px;
    height: 35px;
    color: black;
    margin-right: 20px;
}

.head1{
   
    width: 400px;
    float: left;
}

.book{
    float: right;
    padding-top: 40px;


}
.carousel-inner img {
    filter:opacity(80%);
    width: 100%; 
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }


  .detail .text{
      margin-top: 50px;
  }

  .text li{
      margin-left: 110px
  }



  .text h3{
      margin-top: 35px;
      margin-left: 200px;
      
  }

  
